.main-content-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 600px;
}

/* ========================= */
/*     KHUNG HÀNH ĐỘNG      */
/* ========================= */
.action-menu {
    border: 1px solid black;
    padding: 60px 20px;
    border-radius: 20px;
    text-align: center;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    box-sizing: border-box;
    max-height: 600px;
    height: auto;
}

/* ========================= */
/*     ITEM TRONG MENU      */
/* ========================= */
.action-item a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    display: block;
    line-height: 1.4;
}

.action-item a:hover {
    text-decoration: underline;
    color: #3498db;
}


@media (max-width: 1048px) {
    .action-menu {
        width: 300px;
    }
}

/* ========================= */
/*   THÔNG BÁO TRẠNG THÁI   */
/* ========================= */
.status-error {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 60px 20px;
    max-width: 450px;
    width: 100%;
    margin-right: 50px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 1048px) {
    .status-error {
        width: 300px;
    }
}